body{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

.logo{
    width: 400px;
    height: 400px;
}

.logo-cel{
    width: 100px;
    height: 100px;
}

.cabeza{
     background-image: url("../img/fondo-hear.jpg") ;
   
}

